import Wzj{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Wzj{{properCase name}}',
  component: Wzj{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Wzj{{properCase name}} },
  template: `
    <div>
      <wzj-{{name}}></wzj-{{name}}>
    </div>
  `
})
